body {
  background-color: aliceblue;
  font-size: 10px;
}

main {
  max-width: 1280px;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  gap: 8px;
  min-width: 1024px;
  margin: 0 auto;
}
#card-user-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 8px;
}

.card {
  background-color: #fefefe;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  padding: 1.25rem;
}
.card-user {
  position: relative;
  width: 100%;
  box-shadow: 1px 0px 5px 1px rgba(110, 108, 108, 0.74);
  -webkit-box-shadow: 1px 0px 5px 1px rgba(110, 108, 108, 0.74);
  -moz-box-shadow: 1px 0px 5px 1px rgba(110, 108, 108, 0.74);
  animation: 1.5s fadeIn;
}

.card img {
  border-radius: 50%;
  width: 50%;
  margin-bottom: 14px;
}

.card p {
  font-size: 16px;
  margin: 0 0 14px;
}

.card button {
  cursor: pointer;
  background-color: #ac9af5;
  border: none;
  border-radius: 15px;
  color: #ffffff;
  padding: 8px 24px;
  font-size: 1rem;
  font-weight: 700;
}

.card-add {
  justify-content: flex-end;
  background: transparent;
  box-shadow: 1px 0px 5px 1px rgba(110, 108, 108, 0.74);
  -webkit-box-shadow: 1px 0px 5px 1px rgba(110, 108, 108, 0.74);
  -moz-box-shadow: 1px 0px 5px 1px rgba(110, 108, 108, 0.74);
  backdrop-filter: blur(13.5px);
  -webkit-backdrop-filter: blur(13.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  /* height: 242px; */
}
.card-add img {
  cursor: pointer;
  margin: auto;
  width: 30%;
}

#add-new {
  background-color: transparent;
  color: rgb(186, 196, 200);
  text-transform: uppercase;
  cursor: default;
}

.card .icon {
  position: absolute;
  top: 16px;
  right: 16px;
  width: 24px;
  border-radius: 0%;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.8);
}

.modal .content {
  background-color: #fefefe;
  margin: 15% auto;
  /* padding: 20px; */
  border-radius: 5px;
  width: 350px;
  height: 500px;
  font-size: 1.125rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal .content header {
  background-image: url('https://img.freepik.com/free-vector/hand-painted-watercolor-pastel-sky-background_23-2148902771.jpg?w=2000');
  width: 100%;
  height: 75px;
  display: flex;
  justify-content: center;
  border-radius: 5px 5px 0 0;
  position: relative;
}
.modal .content header h2 {
  font-size: 1.5rem;
  margin-top: 12px;
}

.go-back img {
  width: 1.5rem;
  cursor: pointer;
  margin-left: 8px;
  position: absolute;
  left: 8px;
  top: 12px;
}

.avatar-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px;
  gap: 8px;
}

.avatar-container img {
  max-width: 100px;
  border-radius: 50%;
  position: absolute;
  transform: translateY(-50%);
}

.avatar-container h3 {
  font-size: 1.5rem;
  margin-top: 60px;
}
.avatar-container span {
  font-size: 1rem;
}

.followers-container {
  width: 100%;
  display: flex;
}

.followers-container div {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 14px;
}

.followers-container div:first-child {
  background-color: #ac9af5;
}
.followers-container div:nth-child(2) {
  background-color: aqua;
}
.followers-container div span {
  font-size: 0.625rem;
  text-transform: uppercase;
  /* font-weight: bold; */
}

.more-info {
  width: 100%;
  flex: 1;
  display: flex;
  justify-content: center;
  padding-bottom: 16px;
}

.more-info ul {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.more-info ul li {
  height: 100%;
  display: flex;
  align-items: flex-end;
  padding-bottom: 8px;
  text-transform: capitalize;
  border-bottom: 2px solid darkgray;
}

.more-info ul li span {
  text-transform: initial;
  padding-left: 8px;
  font-size: 1rem;
  color: #4a4a4a;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fade-in {
  animation-name: fadeIn;
  animation-fill-mode: forwards;
}
